@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 0px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navigations */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  /* width: auto; */
  width: 100%;
  margin: 0;
  padding: 30px 30px;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
}



.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */

}

.navbar ul li {
  float: left;
  flex: 1;
  padding: 0 20px;
}

.navbar ul li a {
  display: block;
  /* color: rgb(0, 0, 0); */
  text-align: center;
  text-decoration: none;
}

.navbar button{
  background-color: aliceblue;
  color: black;
  padding: 8px;
  border-radius: 9px;
  cursor: pointer;
}


/* Home Section */
.home{
  height: 900vh;
  background-color: rgb(182, 181, 181);
}
