@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  padding: 0px;
  box-sizing: border-box;
}

body{
  color: rgb(255, 255, 255);
  background-color: rgb(4, 4, 4);;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navigations */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  /* width: auto; */
  width: 100%;
  margin: 0;
  padding: 30px 30px;
  background-color: rgb(0, 0, 0);
  position: sticky;
  font-size: 17px;

  top: 0;
}

.logo a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Palette Mosaic', cursive;
  font-size: 25px;

  
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */

}

.navbar ul li {
  float: left;
  flex: 1;
  padding: 0 20px;
}

.navbar ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}


/* button ("Claim a Plot") style */
 .claim-a-plot{

  /* padding: 8px; */
  border-radius: 9px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  width: fit-content;
  padding: 10px 20px;
  color: black;
  background-color: aliceblue;
  transition: all 200ms ease;
  font-weight: 600;
}

.claim-a-plot:hover{
  color: #ffffff;
  background-color: #f1b503;
  /* background-image: linear-gradient(20deg, #1f1e1e, #005587, grey); */
  background-size: 100%;
 
} 


/* base section style */
section{
  min-height: 95vh;
  height: auto;
  padding: 50px;
  background-color: rgb(4, 4, 4);
}

/* Home Section */

div.hero-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-1 {
  width: 100%;
}

.hero-illustration{
  width: 100%;
  margin-top: 50px;

}
.hero-illustration img{
  object-fit: cover;
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-1 .hero-title{
  font-size: 75px;
  padding: 25px 0;
}
span.dot{
  color: #f1b503;
  font-weight: 900;
  /* padding-left: 5px; */
  font-size: 50px;
}
.hero-paragraph{
  padding-bottom: 20px;
}


/* footer section */
footer.footer{
  width: 100%;
  height: 10vh;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* plots gallery */
div.plots{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 2;
  
}

div.plot-item{
  width: 300px;
  height: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* background-color: #012169;
  background-image: linear-gradient(20deg, #363434, #e4e4e4, #f1b503);
  background-size: 100%; */
  border-radius: 6px;
  flex-direction: column;


}

div.plot-item img{
  width: 90%;
  height: 90%;
  /* display: block;
  margin: auto; */
  border-radius:7.5px;
}

div.plot-item img:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow:  0 20px 50px rgba(241, 181, 3, 0.5); 
}

div.plot-item h3{
  padding: 5px;
  text-align: center;
  

}